.wrangler/
node_modules/
www/
android/keystore.properties
android/release-keystore.jks
android/*.jks
android/RELEASE_SIGNING_INFO.local.txt
android/.gradle-user-home/
android/.gradle-user/
.gradle-user/
android/.android-user/
.android-user/
*.idsig
